<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Iosevka+Aile&display=swap" rel="stylesheet">
  <title>Shahin Home</title>
</head>
<body style="font-family: 'Iosevka Aile', sans-serif;">
<div class="flash-once-reverse">
<div class="circle1">
</div>
</div>
  <section class="flash-once">
  <h1 class="heading">Devops Engineer</h1>
<pre><div class="shadow">
                      Aspiring to be an architect and beyond from providing solutions
                      to desigining to security of the design and innovate on top of it.
                      I love to learn and grow.</div>
  <h2 class="heading">Projects:</h2>

                      -> <a href="" target="_blank">SoloLeveling: </a> Inspired by anime <a href="https://www.imdb.com/title/tt21209876/" target="_blank">SoloLeveling</a> and in midst of
                                        planning for what should I make my portfolio of devops on,
                                        I figured it would be best to make a task based app which
                                        tracks a persons task and gives xp based on its completion.
                                        The person can level up to!!!
                                        I have implemented a simple Mysql DB in a container using
                                        <a href="https://dev.mysql.com/doc/refman/8.4/en/binary-installation.html" target="_blank">mysql generic binaries</a> since I cant afford the RDS.
                                        <a href="" target="_blank">Here is a link to my article in Medium</a> where I have
                                        explained all what I have documented till now from application
                                        creation to deployment and CI/CD architecture and its
                                        challanges and reasons for why I chose this particular way.
                                        <u>Spoiler alert: Mostly to save cost</u> :')
  <a href="https://www.linkedin.com/in/shahin-sheikh-9999a6204/" target="_blank"><section class="ascii-wrapper" style="left: 10%; top: 0%;"><div class="glitch-box"><pre class="art">
    ┌────────────┐
    │ LinkedIn   │
    └────────────┘
  </pre></div></section></a>

  <a href="https://github.com/AstroKabutar" target="_blank"><section class="ascii-wrapper" style="left: 50%; top: -300px;"><div class="glitch-box"><pre class="art">
      ┌────────────┐
      │   GitHub   │
      └────────────┘
  </pre></div></section></a>

  <a href="https://www.instagram.com/zita_odst/" target="_blank"><section class="ascii-wrapper" style="left: 8%; top: -300px;"><div class="glitch-box"><pre class="art">
      ┌────────────┐
      │ Instagram  │
      └────────────┘
  </pre></div></section></a>

  <a href="https://stackoverflow.com/users/14675752/astronomical-kabutar" target="_blank"><section class="ascii-wrapper" style="left: 50%; top: -600px;"><div class="glitch-box"><pre class="art">
      ┌────────────────┐
      │  StackOverflow │
      └────────────────┘
  </pre></div></section></a>

  <div class="shadow" style=" position: relative; top: -300px;">
                        $$$$$$\  $$\                 $$\       $$\           
                        $$  __$$\ $$ |                $$ |      \__|          
                        $$ /  \__|$$$$$$$\   $$$$$$\  $$$$$$$\  $$\ $$$$$$$\  
                        \$$$$$$\  $$  __$$\  \____$$\ $$  __$$\ $$ |$$  __$$\ 
                         \____$$\ $$ |  $$ | $$$$$$$ |$$ |  $$ |$$ |$$ |  $$ |
                        $$\   $$ |$$ |  $$ |$$  __$$ |$$ |  $$ |$$ |$$ |  $$ |
                        \$$$$$$  |$$ |  $$ |\$$$$$$$ |$$ |  $$ |$$ |$$ |  $$ |
                         \______/ \__|  \__| \_______|\__|  \__|\__|\__|  \__|
</div>
</pre>
</section>
</body>
</html>

