<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/LoadGame.css">
  <title>Load Game</title>
</head>
<body class="background">

<section>
  <form action="http://192.168.0.20:8000/LoadGame" method="POST">
    <div class="heading"> Load Game
      <br><br><br><br>
    <div class="form_body">Name: 
      <input type="text" class="in" name="Name">
    </div><br>
    <div class="form_body">UID: 
      <input type="text" class="in" name="PID"> <br> <br>
      <button type="submit" class="button">Submit</button></div>

</section>
</body>
</html>


